   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Romolo Marotta</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="/css/default.css">
   <link rel="stylesheet" href="/css/layout.css">
   <link rel="stylesheet" href="/css/media-queries.css">

   <!-- Script
   ================================================== -->
	<!--	<script src="js/modernizr.js"></script> -->
	
   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="https://www.dis.uniroma1.it/favicon.ico" >

</head>
<body>


   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li><a class="smoothscroll" href="/index.html">Home</a></li>
            <li><a class="smoothscroll" href="/research">Research</a></li>
            <li><a class="smoothscroll" href="/teaching">Teaching</a></li>
	         <li><a class="smoothscroll" href="/resume">CV</a></li>
            <li><a class="smoothscroll" href="#contact">Contacts</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div id="head2" class="row">
        <div class="two columns">
            <img class="profilepic" src="/images/picprofile2.jpg" alt="" />
       </div>
       <div class="four columns">
             <div class="banner-text">
               <h1 class="responsive-headline">Romolo Marotta</h1>
               <h4>PostDoctoral Researcher</h4>
             </div>
      </div>
       <div class="three columns">
            <img class="logoimg1"  src="/images/logo_hpdcs_bianco.png" alt="" />
      </div>
       <div class="three columns">
            <img class="logoimg2"  src="/images/logo_lockless_bianco.png" alt="" />
      </div>
   </div>
   </header> <!-- Header End -->